DATABASE_URL=postgresql://neondb_owner:npg_xnRhivf9l2uI@ep-old-art-a1l4ydpe-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=cloudy_clutches_super_secret_jwt_key_2024
FRONTEND_URL=http://localhost:5173
PORT=5000
